<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <div id="header">
        <h1>Welcome</h1>
        <img src="assets/logo.png" />
      </div>
    </ion-col>
  </ion-row>
  <form id="form">
    <ion-button expand="block" shape="round" color="danger" (click)="googleSignIn()">LOG IN WITH GOOGLE</ion-button>
  </form>
</ion-content>
