<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let video of videos" class="shadow1">
    <ion-card-header>
      <ion-card-title><h3>{{video.title}}</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe [src]="video.videoId | youtubeSafeUrl" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>