<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img *ngIf="user" [src]="user.picture" class="button button-icon button-clear" menu-toggle="left">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hi {{user.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Cards -->
  <ion-card no-padding padding-bottom no-margin class="card" *ngFor="let p of projects; let i 
  of index;">

    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-avatar item-left>
            <img src="https://i.pravatar.cc/150?img={{i}}">
          </ion-avatar>
          <h2 style="margin-left: 4px"><b>Srivalli</b></h2>

        </ion-item>
      </ion-col>
    </ion-row>


    <img src="https://picsum.photos/500/300?random={{i}}">
    <hr>

    <ion-card-content>
      <p>{{p}}</p>
      <br>
      <p class="like-content">
        <ion-icon name="heart"></ion-icon> 250 Upvotes
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>